parameters:
    autoload_files:
        - vendor/autoload.php
    excludes_analyse:
        - vendor/
        - Tests/

        # Propel stuff seems broken as-is, ignoring for now
        - Propel/
        - Tests/Propel/
    ignoreErrors:
        # temporary
        - '#Parameter \#1 \$httpStatusCode of class OAuth2\\OAuth2ServerException constructor expects string, int given#'
        - '#Parameter \#1 \$httpCode of class OAuth2\\OAuth2AuthenticateException constructor expects string, int given#'
        # expected
        - '#Parameter \#2 $requestStack of class FOS\OAuthServerBundle\Form\Handler\AuthorizeFormHandler constructor expects Symfony\Component\HttpFoundation\Request|Symfony\Component\HttpFoundation\RequestStack|null, stdClass given.#'
